.container {
  margin: auto;
  text-align: center;
}

.container-form {
  max-width: 400px;
  margin: auto;
  padding: 5px;
}

.container-form form {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.container-form form label {
  text-align: start;
}